/*-- scss:defaults --*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
$ibm-plex-sans: "IBM Plex Sans", sans-serif;

$jet: #353535;
$white: #FFFFFF;
$viridian: #62937A;
$verdigris: #68B0AB;

$navbar-bg: $white;
$navbar-fg: $jet;
$body-bg: $white;
$body-color: $jet;
$link-color: $verdigris;

/*-- scss:rules --*/
h1 {
  font-size: 1.75em;
}

h2, .h2 {
  margin-bottom: 0.5em;
  border-bottom: none;
}

a {
  text-underline-offset: 0.3em;
  text-decoration-style: wavy;
}

div.quarto-about-solana {
  margin-top: 3.5em;
}

// Set media query for devices with a minimum width of 992px (desktop view)
@media (min-width: 992px){
  div.quarto-about-solana .about-entity .entity-contents {
    padding-right: 3.5em;
  }
}









//  Style customizations for "trestles" theme

// div.quarto-about-trestles .about-contents {
//  border-left: 0px; // Remove border line between side and main about panel
// }

// div.quarto-about-trestles .about-entity {
  // padding-left: 0.75rem;
// }

// Set media query for devices with a minimum width of 992px (desktop view)
// @media (min-width: 992px){
  // div.quarto-about-trestles .about-entity {
   // flex: 0 0 40%;  // Set flex container in desktop view
    // padding-left: 0rem;
//  }
// }